<% include ./partials/header %> 

<body>
  <form action="/" method="POST">
    <input type="text" name="content" id="content" autocomplete="off">
    <button id="tweet-button">はなす</button>
  </form>
  <div id="tweets-container">
  </div>


<script> // input が空欄の時は送信したくない  
   const tweets = <%- JSON.stringify(tweets.map(tweet => {
     return {author: {username: tweet.author.username}, content: tweet.content, tweetedAt: tweet.tweetedAt}
   })) %> 
   console.log(tweets)
  tweets.forEach(createContentBoard)

  function createContentBoard(tweet) {
    // followbuttonにtweetのauthorの名前をIDとしてつける
    const $followButton =$("<button>フォロー</button>").addClass("follow-button").attr("id",<%="tweet.author.username" %>)
    $('<p></p>').addClass("contentboard")
    .append("<a href=" + "/user/" + tweet.author.username + ">" +tweet.author.username + "</a>")
    .append('<br>')
    .append(tweet.content)
    .append('<br>')
    .append('<br>')
    // .append($followButton)
    // .append('<br>')
    .append(tweet.tweetedAt)
    .prependTo($('#tweets-container'))
  }

  $("#tweet-button").click(function (event) {
    event.preventDefault()
    $.ajax({
      url: "/",
      type: "POST",
      data: $("#content").serialize(),
      datType: "json",
      success: function (res) {
        createContentBoard(res)
        $("#content").val("")
      }
    })
  })

$(".follow-button").click(function(req,res){
  const id = $(this).attr("id")
  const text = $(this).text()
  $.ajax({
    url:"user/:username/follow",
    type:"POST",
    data: {id:id}
   })
}) 

</script>

<% include ./partials/footer %> 
