<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src=http://localhost:8000/js/jquery-3.3.1.min.js></script>
  <title>Document</title>
</head>
<body>
  <a href="/register">SIGN UP</a>
  <h1>CONTINUE</h1>
  <form action="/login" method="post">
    <div>
     <input type="text" name="username"/>
    </div>
    <div>
      <input type="password" name="password"/>
    </div>
    <div>
      <input type="submit" value="Log In"/>
    </div>
  </form>
</body>