<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>  <title>Document</title>
</head>
<body>
    <header>
        <a href="/login">LOGIN</a>
      </header>
  <h1>NEW GAME</h1>
  <form action="/register" method="post">
    <div>
      <input type="text" name="username"/>
    </div>
    <div>
      <input type="password" name="password"/>
    </div>
    <div>
      <input type="submit" value="SIGN UP"/>
    </div>
  </form>
</body>