
  @font-face {
    font-family: "myFont";
    src: url("/font/PixelMplus12-Regular.eot?") format('eot'),
         url("/font/PixelMplus12-Regular.woff") format('woff');
  }
  body, input, button{
    font-family: "myFont";
    font-size: 20px;
    color:white;
    background-color: black;
}


input {
  font-size: 20px;
  width: 300px;
  height:30px;
}

input:focus{
  outline: 5px ridge white;
}


button {
  outline: none;
}

li {
  list-style: none;
}